
#FeedContainer_Link {
    text-decoration: none;
    color: black;
}


#FeedContainer_Base {
    height: 150px;

    overflow: hidden;

    padding: 10px;

    display: flex;
    align-items: center;
}


.TEMPIMG {
    width: 125px;
    height: 125px;

    background-color: #d33;

    margin: auto;
}


.img_container {
    margin-right: 15px;
}

.rss_img {
    width: 100px;
    height: 100px;
}


.info_container {
    flex-grow: 1;
}


.detail_container {
    margin-bottom: 5px;
}
