
#FeedContainer_Link {
    text-decoration: none;
    color: black;
}


#FeedContainer_Base {
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.TEMPIMG {
    width: 125px;
    height: 125px;

    background-color: #d33;

    margin: auto;
}


.img_container {
    margin-right: 15px;
}

.rss_img {
    width: 100px;
    height: 100px;
}


#info_container {
    
}


.detail_container {
    margin-bottom: 5px;
}
