
<div id="root">
    <div class="domain_container">
        <div class="sidescroller">
            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>
        </div>

        <div class="sidescroller">
            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>

            <div class="feed_wrapper">
                <app-feed-container></app-feed-container>
            </div>
        </div>
    </div>
</div>
