
.domain_container {
    border: 1px solid black;

    padding: 5px;
}


.sidescroller {
    height: 300px;

    white-space: nowrap;

    margin-top: 10px;
    margin-bottom: 10px;

    overflow-y: hidden;
    overflow-x: auto;
}


.feed_wrapper {
    display: inline-block;

    white-space: normal;
}
