
#App_Base {
    height: 100vh;
}


#header_container {
    width: 80%;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-bottom: 20px;
}


#plus_icon {
    max-width: 50px;
    max-height: 50px;

    margin-right: 50px;
}

#plus_icon:hover {
    max-width: 53px;
    max-height: 53px;

    cursor: pointer;
}


#logout_button {
    width: 75px;
    height: 45px;

    margin-left: 50px;

    background-color: #ddd;

    border-radius: 3px;
    box-shadow: -2px 2px 3px #aaa;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logout_button:hover {
    width: 78px;
    height: 43px;

    background-color: #ccc;

    cursor: pointer;
}


#feed_container {
    max-width: 90%;

    margin: auto;
}
