
#FeedScroller_Base {
    padding: 5px;
}


#spinner {
    width: 100px;
    height: 100px;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ccc;

    animation: spin 2s linear infinite;

    margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.feed_title {
    text-align: center;
}

.feed_img_container {
    display: flex;
    justify-content: center;
}

.feed_img {
    max-width: 200px;
    max-height: 200px;
}


.sidescroller {
    max-height: 500px;

    overflow-y: auto;

    margin-top: 10px;
    margin-bottom: 10px;
}


.feed_wrapper {
    margin-bottom: 15px;

    background-color: #fff;
}


.article_container {
    max-width: 90%;
    max-height: 800px;

    margin-top: 15px;
    margin-bottom: 50px;

    overflow: auto;

    background-color: #fff;
}

.article_container:empty {
    display: none;
}
