
#FeedScroller_Base {
    max-width: 80%; 
}


.domain_container {
    border: 1px solid black;

    padding: 5px;
}


.sidescroller {
    max-height: 80%;

    margin-top: 10px;
    margin-bottom: 10px;

    overflow-y: auto;
}


.feed_wrapper {
    marign-bottom: 15px;

    border: 1px solid black;
}
